<h2> User Page </h2>

<p>Name:
<%= @name %>
</p>

<p> Email:
<%= @email %>
</p>


<h1> Interests </h1>

<% @interests.each do |interest| %>
  <li>
    <%= interest %>
  </li>
<% end %>

<h1> Other Users </h1>

<% @content.each do |key, value| %>
  <li>
    <a href="<%="users/#{key}"%>" ><%= key unless @name == key %></a>
  </li>
<% end %>
